.header {
    display: none !important;
    visibility: hidden;
    text-decoration: none !important;
}

footer {
    display: none !important;
}

body {
    /* padding-bottom: 160px !important; /* Adjust this value to match or exceed the height of your footer */
    background-color: #000000;
    text-decoration: none !important;
    overflow-x: hidden;
}
