#64daedd12d67740f583f5bac {
  position: relative;
  height: 100%; /* Adjust the height to your preference */
  display: flex;
}

.centered-text {
  position: fixed;
  top: 35% !important;
  width: 30%;
  background-color: rgba(255, 255, 255, 0); /* Optional: Add a semi-transparent background */
  padding-left: 16px; 
  z-index: 9999;
  text-align: right;
}

.centered-text h3 {
  color: #FFFFFF00 !important;
}

.header {
  text-decoration: none;
}

.gallery .slideshow {
  object-fit: contain !important;
}

/* Target the arrow div element and destroy it with the might of a thousand suns */
.arrow {
  display: none !important;
}

.portfolio-hover-items {
  padding-left: 33% !important;
  padding-top: 12% !important;
}

body {
  background-color: #000;
}