.header {
    display: none !important;
    visibility: hidden;	
    text-decoration: none !important;
} 

/* Target the arrow div element and destroy it with the might of a thousand suns */
.arrow {
    display: none !important;
}

.sqs-gallery-design-stacked-slide img {
    border-radius: 50%;
    outline: 2px solid rgb(255,255,255,1);
    outline-offset: 6px;
    box-shadow: 0px 0px 24px 8px #ffffff75, 0px 6px 96px 0px #ffffff75;
}

#footer-sections .sqs-gallery-design-stacked-slide img {
    outline: 0px;
}

body {
    /* padding-bottom: 160px !important; /* Adjust this value to match or exceed the height of your footer */
    background-color: #000000;
    text-decoration: none !important;
}