/*REMOVING THE SPACE UNDER CODE BLOCKS*/
html.squarespace-damask .sqs-blockStatus, .sqs-block .removed-script {
  display: none;
}

/* Optional hide the header and header-nav elements */
.header, .header-nav {
  display:none;
  visibility: hidden;
  text-decoration: none !important;
}