/*REMOVING THE SPACE UNDER CODE BLOCKS*/
html.squarespace-damask .sqs-blockStatus, .sqs-block .removed-script {
  display: none;
}
    
html, body {

     background-color: #000000;
     text-decoration: none;
     scroll-behavior: smooth;
     overflow-x: hidden;
 }