<style>
  .header, .header-nav {
	display:none;
    visibility: hidden;	
   text-decoration: none !important;
    } 
  
  /* Target the arrow div element and destroy it with the might of a thousand suns */


</style>

